<ion-header-bar class="bar bar-header bar-assertive">
  <h1 class="title">登录</h1>
</ion-header-bar>  

<ion-content>
	<p ng-hide="isShow" ng-bind="error"></p>
<div class="list">
  <label class="item item-input">
    <span class="input-label" >用户名</span>
    <input type="text" ng-model="user.username">
  </label>
  <label class="item item-input">
    <span class="input-label">密码</span>
    <input type="password" ng-model="user.password">
  </label>
</div>
<button class="button button-block button-positive"
	ng-click="login()">
  登录
</button>
</ion-content>
<style>
	.list {
    padding-top: 150px;
  }
	p{
		color:#990000;
		text-align: center;
	}
</style>